{% if latipay_error %}
<div class="well well-sm">
    {{ latipay_error }}
</div>
{% else %}
<div class="well well-sm">
  {{ text_payment_method }}
  <select class="form-control" id="payment_method2" name="payment_method2">
  		{% for one in select_array %}
        <option value="{{ one.value }}">{{ one.value }}</option>
        {% endfor %}
    </select>
</div>
<div class="buttons">
  <div class="pull-right">
    <input type="button" value="{{ button_confirm }}" id="button-confirm" class="btn btn-primary" data-loading-text="{{ text_loading }}" />
  </div>
</div>
<script type="text/javascript"><!--
$('#button-confirm').on('click', function() {
	$.ajax({
		type: 'post',
		dataType: 'json',
		url: 'index.php?route=extension/payment/latipay2/confirm',
		cache: false,
		data: 'payment_method=' + $('#payment_method2').val(),
		beforeSend: function() {
			$('#button-confirm').button('loading');
		},
		complete: function() {
			$('#button-confirm').button('reset');
		},
		success: function(json) {
			//console.log(json);
			if(json['success'] == 'ok'){
				location = json['redirect_url'];return false;
			}
			if(json['error']){
				alert(json['error']);
			}
		}
	});
});
//--></script>
{% endif %}